<aside class="left-side sidebar-offcanvas">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">

		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<div class="row">
				<div class="col-sm-12">
					<div id="treeview"></div>
				</div>
			</div>
		</ul>
	</section>
	<!-- /.sidebar -->

</aside>


<link href="../static/css/jstree/style.css" media="screen" rel="stylesheet" />
<script src="../static/js/plugins/jstree/jstree.js"></script>

<script type="text/javascript">
</script>