
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>HTTP Post Data</title>
</head>
<body>
   
 	<div class="page">

	<form action="/post" method="post" name="check_order" id="check_order" enctype="multipart/form-data">
	{% csrf_token %}
	<p></p>
    <p>
        <span style="font-weight:bold;font-size:14px;">　</span>内容：</span>
        <textarea name="content" cols="20" rows="6"></textarea>
    </p> 
    <p>
		<span style="font-weight:bold;font-size:14px;">　文件：</span>
		<input type="file" value="" name="file" id="file">
	</p>
	<p class="form-submit">
		<input name="send_msg" type="submit"  id="send_msg" value="提交" />
		<input name="reset" type="reset"  id="reset_msg" value="重置" />
	</p>
    </div>
   </form>
</body>
</html>
