<div id = "energy_distribution" class="col-md-6">
	<!-- Primary box -->
	<div class="box box-solid box-warning">
		<div class="box-header">
			<h3 class="box-title">Energy Distribution</h3>
			<div class="box-tools pull-right">
				<div id = "energy-dist" class="btn-group" data-toggle="btn-toggle">
					<button type="button" value = "day" class="btn btn-default btn-sm btn-flat" >Day</button>
					<button type="button" value = "week" class="btn btn-default btn-sm btn-flat">Week</button>
					<button type="button" value = "month" class="btn btn-default btn-sm btn-flat">Month</button>
					<button type="button" value = "quarter" class="btn btn-default btn-sm btn-flat">Quarter</button>
					<button type="button" value = "year" class="btn btn-default btn-sm btn-flat">Year</button>
				</div>
			</div>			
		</div>
		<div class="box-body">
			{% if errors %} 
				{% for error in errors %}
					<p style="color: red;">{{error}}</p>
				{% endfor %}
			{% endif %}
			<div id ="energyDist" style="height:225px;"></div>	
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col -->

<!-- For the energy_dist Gauge Chart ------------------------------------------------------------------------------------- -->
<script type="text/javascript">

//var xAxisarray = {{ x_category | safe}};
//var bardata = {{ energy_dist_avrg_list }};
//var bardata = {{ energy_dist_list }};

var energypieChart = echarts.init(document.getElementById('energyDist'));
var energypieOption = {
		tooltip : {
			trigger:'item',
			formatter: "{a}<br/>{b}:{c}({d}%)"
		},
		legend:{

			x:'left',
			data:['Productive','Cooling','Active Device Loss','Lighting','Transmission']
		},
		toolbox: {
			show:false,
			feature: {
				mark : {show:true},
				dataView:{show:true,readOnly:false},
				magicType:{
					show: true, 
	                type: ['pie','funnel'],
	                title:{
						pie:'pie',
						funnel:'funnel'
					},
	                option: {
	                    funnel: {
	                        x:'25%',
	                        width: '50%',
	                        funnelAlign: 'left',
	                        max: 1548
	                    }
	                }
	            },
				restore: {show:false},
				saveAsImage: {show:true}	
			}
		},
		calculable: true,
		series: [
		          
		    {
		    	name:'energyDistribution',
				type:'pie',
				center:['50%','60%'],    
				radius:'55%',
			    data:[
			          {name:'Productive'},
			          {name:'Cooling'},
			          {name:'Active Device Loss'},
			          {name:'Lighting'},
			          {name:'Transmission'}
			         ]
		    }
		   ]
	};

function setEnergyPieChart(data){
	var bardata = data.reportviewdata.obj_energy4pie;
	//alert(bardata);
	energypieOption.series[0].data[0].value = bardata[0];
	energypieOption.series[0].data[0].name = 'Productive';
	energypieOption.series[0].data[1].value = bardata[1];
	energypieOption.series[0].data[1].name = 'Cooling';
	energypieOption.series[0].data[2].value = bardata[2];
	energypieOption.series[0].data[2].name = 'Active Device Loss';
	energypieOption.series[0].data[3].value = bardata[3];
	energypieOption.series[0].data[3].name = 'Lighting';
	energypieOption.series[0].data[4].value = bardata[4];
	energypieOption.series[0].data[4].name = 'Transmission';
	//energypieOption.yAxis[0].name = "kWh";
	energypieChart.setOption(energypieOption,true);
	
}


</script>
<!-- End he energy pie Chart ------------------------------------------------------------------------------------- -->
