<div id = "energy_distribution" class="col-md-6">
	<!-- Primary box -->
	<div class="box box-solid box-warning">
		<div class="box-header">
			<h3 class="box-title">Energy Distribution </h3>
			<div class="box-tools pull-right">
				<div id = "energy_dist" class="btn-group" data-toggle="btn-toggle">
					<button type="button" value = "day" class="btn btn-default btn-sm btn-flat" >Day</button>
					<button type="button" value = "week" class="btn btn-default btn-sm btn-flat">Week</button>
					<button type="button" value = "month" class="btn btn-default btn-sm btn-flat">Month</button>
					<button type="button" value = "quarter" class="btn btn-default btn-sm btn-flat">Quarter</button>
					<button type="button" value = "year" class="btn btn-default btn-sm btn-flat">Year</button>
				</div>
			</div>			
		</div>
		<div class="box-body">
			{% if errors %} 
				{% for error in errors %}
					<p style="color: red;">{{error}}</p>
				{% endfor %}
			{% endif %}
			<div id ="energyDist" style="height:225px;"></div>	
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col -->

<!-- For the energy_dist Gauge Chart ------------------------------------------------------------------------------------- -->
<script type="text/javascript">


var energybarChart = echarts.init(document.getElementById('energyDist'));
var energybarOption={
		tooltip:{
			trigger:'axis'
		},
		toolbox:{
			show: true,
			//y:'bottom',
			feature:{
				mark:{show: false},
				dataView:{show: false,readOnly:false},
				magicType:{show: true,type:['bar'],title:{bar:'bar'}},
				restore:{show:false,titel:'restore'},
				saveAsImage:{show: true,title:'save'}
			}
		},
		calculable:true,
		grid : {
			x : 50,
			y : 40,
			x2 : 40,
			y2 : 50
		},
		legend:{
			x:'left',
			data:['Productive','Cooling','Active Device Loss','Lighting','Transmission']
		    //[{name:'Productive',color: '#ff7f50},{name:'Cooling',color: '#ff7f50'},{name:'Active Device Loss',color:'ff69b4'},{name:'Lighting',color:'ffa500'},{name:'Transmission',color:'ffd700'}]
		},
		xAxis:[
		        {
		        type: 'category',
		        scale:true,
		        splitLine:{show: false},
		        axisLabel : {
					show : true,
					//rotate: 30,
					textStyle : {
						fontSize : 10
					}
				}
		        //data:['2/9','2/10','2/11','2/12','2/13','2/14']
		        }
		],
		yAxis:[
		      {
		    	  type:'value',
		    	  scale:true,
		    	  //position:'right'
		      }
		],
		series:[
		{
			name:'Productive',
			type:'bar',
			//tooltip:{trigger:'item'},
			stack:'energydist',
			//itemStyle:{
				//normal:{
					//barBorderWidth:1,
					//barBorderColor:'tomato',
					//color:'green'
				//},
				//emphasis:{
					//barBorderColor:'green',
					//color:'blue'
				//}
			//},
			//data:[1200,1250,1150,1100,1300,1420]
		},
		{
			name:'Cooling',
			type:'bar',
			//tooltip:{trigger:'item'},
			stack:'energydist',
			//itemStyle:{
				//normal:{
					//barBorderWidth:1,
					//barBorderColor:'tomato',
					//color:'red'
				//},
				//emphasis:{
					//barBorderColor:'red',
					//color:'yellow'
				//}
			//},
			//data:[500,600,550,480,510,551]	
		},
		{
			name:'Active Device Loss',
			type:'bar',
			//tooltip:{trigger:'item'},
			stack:'energydist',
			//data:[100,120,98,88,105,93]
		},
		{
			name:'Lighting',
			type:'bar',
			//tooltip:{trigger:'item'},
			stack:'energydist',
			//data:[120,125,115,128,155,163]
		},
		{
			name:'Transmission',
			type:'bar',
			//tooltip:{trigger:'item'},
			stack:'energydist',
			//data:[20,25,35,28,45,33]
		}
    ]	       
}; 

function setEnergyChart(data){
	//alert(data);
	energybarOption.yAxis[0].name = "%";
	var xAxisarray = data.Xdata[data.default[1].datetype];;
	energybarOption.xAxis[0].data = xAxisarray;
	var bardatalist=data.default[0].yArray_data;
	for (var i=0;i<bardatalist.length;i++){
		energybarOption.series[i].data=bardatalist[i];
	}
	
	energybarChart.setOption(energybarOption,true); 
	
	$("#energy_dist > button").click(
		function(){
			reloadDist($(this).val(),data);
		})
};

function reloadDist(datetype,data){
	var bardatalist=[];
	var xAxisarray=[];
	if (datetype=='day'){
		bardatalist = data.Ydata.day;
		xAxisarray = data.Xdata.day;
	}
	if (datetype=='week'){
		bardatalist = data.Ydata.week;
		xAxisarray = data.Xdata.week;
	}
	if (datetype=='month'){
		bardatalist = data.Ydata.month;
		xAxisarray = data.Xdata.month;
	}
	if (datetype=='quarter'){
		bardatalist = data.Ydata.quarter;
		xAxisarray = data.Xdata.quarter;
	}
	if (datetype=='year'){
		bardatalist = data.Ydata.year;
		xAxisarray = data.Xdata.year;
	}
	for (var i=0;i<bardatalist.length;i++){
		energybarOption.series[i].data=bardatalist[i];
	}
	energybarOption.xAxis[0].data = xAxisarray;
	energybarChart.setOption(energybarOption,true); 
}



</script>
<!-- End he energy bar Chart ------------------------------------------------------------------------------------- -->
