

<div id="selectorborder" style="width:97%; height:50px;padding:10px 50px 10px 50px;border:1px solid #ccc;border-radius: 4px 4px 4px 4px;margin:0 1.5%;border-color: #39F;">

	<form method="post" action="">
		<div style="font-size: 17px; float: left;width:10%;min-width:100px;height:20px;">
			Time Period:			
		</div>
		<div style="width: 25%;min-width:250px;height:20px; font-size: 17px;float: left;">
			{% csrf_token %}
			<input id="datetext" name="date" style="height:29px; border:1px solid #39F;width: 98%; background-color:white" readonly="readonly" value="" type="text" class="btn daterange" data-toggle="tooltip" title="Date range">
		</div>

		<div style="font-size: 17px; float: left;width:15%;float: left;margin-left:2% ">		
		<a id="showmore" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" onclick="return exapand()">
                 Show more&nbsp <i id="angledown" class="fa fa-angle-double-down"></i>
        </a>
        

    	
		 <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
          
                 <TABLE style="width: 40%;  height: 180px;">
				<TBODY>
				  <TR style="font-size:17px;">
				    <TD  colSpan="1">
				    <span>Available Metrics</span>
		  		  <TD></TD>
				    <TD  colSpan="1">
				    <span>Selected</span>
				    </TD>
				  </TR>
					<TR>
						<TD style="height: 1px; background-color: grey;" colSpan="3"></TD>
					</TR>
					<TR>
						<TD rowSpan="7"><SELECT
							style="width: 200px; height: 170px; font-family: Times New Roman; font-size: 12px; background-color: whitesmoke;"
							id="ctl00_ContentPlaceHolder1_ListBox3" class="listbox"
							multiple="multiple" size="4" name="ListBox3">

						</SELECT></TD>
						<TD style="width: 100px; height: 5px;"></TD>
						<TD style="width: 153px;" rowSpan="7"><SELECT
							style="width: 200px; height: 170px; font-family: Times New Roman; font-size: 12px; background-color: whitesmoke;"
							id="ctl00_ContentPlaceHolder1_ListBox2" class="listbox"
							multiple="multiple" size="4" name="ListBox2">

						</SELECT></TD>
					</TR>
					<TR>
						<TD style="width: 100px; height: 27px;"><INPUT
							style="width: 50px; font-size: 12px;" id="btn_toRight"
							class="btn_sub" onclick="return btn_toRight_onclick()" value=">"
							type="button"></TD>
						<TD style="width: 100px; height: 27px;"></TD>
					</TR>
					<TR>
						<TD style="width: 100px;"><INPUT
							style="width: 50px; font-size: 12px;" id="btn_alltoRight"
							class="btn_sub" onclick="return btn_alltoRight_onclick()"
							value=">>" type="button"></TD>
					</TR>
					<TR>
						<TD style="width: 100px;"></TD>
					</TR>
					<TR>
						<TD style="width: 100px;height: 27px;"><INPUT
							style="width: 50px; font-size: 12px;" id="btn_toLeft"
							class="btn_sub" onclick="return btn_toLeft_onclick()" value="<"
							type="button"></TD>
					</TR>
					<TR>
						<TD style="width: 100px; height: 27px;"><INPUT
							style="width: 50px; font-size: 12px;" id="btn_alltoLeft"
							class="btn_sub" onclick="return btn_alltoLeft_onclick()"
							value="<<" type="button"></TD>
					</TR>
					<TR>
						<TD style="width: 100px;"></TD>
					</TR>

					<TR>
						<TD style="height: 1px; background-color: grey;" colSpan="3"></TD>
					</TR>
				</TBODY>
			</TABLE>
          
         </div>
              
      </div>	
             
<div style="width: 12%;height:20px; float: left;margin-left:3%">
			<!-- <input type="submit" name="buttonDatePicker" id="buttonDatePicker" value="Submit" style="height: 29px;margin-left:5%">  -->
			<button type="button" class="btn btn-primary btn-sm" id="buttonDatePicker" style="height: 30px;font-size: 15px;"><font color="white"><strong>   Go   </strong></font>  <i class="fa fa-arrow-circle-right"></i></button>
</div>
		<div class="dropdown" style="width:12%;float:right">
			<button type="button" class="btn btn-info dropdown-toggle bg-olive" style="height:30px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-download" ></i> Raw Data <span class="caret"></span></button>
			<ul id="export_rawdata" class="dropdown-menu dropdown-menu-right" role="menu">
				<li class="dropdown-header text-center">Select a time interval </li>
              	<li class="item text-center"><a href="">monthly</a></li>
             	<li class="item text-center"><a href="">weekly</a></li>
             	<li class="item text-center"><a href="">daily</a></li>
             	<li class="item text-center"><a href="">hourly</a></li>
             	<li class="item text-center"><a href="">30 min</a></li>
             	<li class="item text-center"><a href="">10 min</a></li>
             	<li class="item text-center"><a href="">1 min</a></li>
         	</ul>
        </div>

        <div style="width:12%;float:right;">
              <button type="button" class="btn bg-olive btn-info" onclick="exportGraphs()" style="height:30px"><i class="fa fa-download"></i> Graph Data</button>
        </div>
		
<!-- This part is used for data saving, not showed on the screen------------------------------------------- -->
		<div class="row"
			style="width: 300px; font-size: 17px; float: left; margin-left: 70%; width: 250px;">
			<select id="testright" style="width: 180px; display:none" name="test"
				multiple="multiple">

			</select>
		</div>

		<div class="row"
			style="width: 300px; font-size: 17px; float: left; margin-left: 80%; width: 250px;">
			<select id="testleft" style="width: 180px; display:none" name="test2"
				multiple="multiple">

			</select>
		</div>
		<div class="row"
			style="width: 300px; font-size: 17px; float: left; margin-left: 90%; width: 250px;">
			<input id="sitename_store" name="sitename_store" style="width: 180px; display:none" value="" type="text">
		</div>
<!-- end of this part  ---------------------------------------------------------------------------------------- -->
	</form>

</div>
<br>


<script type="text/javascript">
function setHref(){
	 $("#export_rawdata a").each(function(){
		 var date = $("#datetext").val();  
		 var testright = $("#testright").val();
	  	 var interval = $(this).text();
	  	 if(window.console){
	  		 console.log("date: "+date);
	  		 console.log("Time interval: "+interval)
	  		 console.log("site data: "+ site_data)
	  		 }
	  	 var query_url = "{% url 'export2csv' %}" + '?date=' + date + '&testright=' + testright + '&interval=' + interval;
	  	 $(this).attr("href", query_url);  
	 });
}

$(function() {
    $('.daterange').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 15 Days': [moment().subtract('days', 14), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                startDate: moment().subtract('days', 14),
                endDate: moment()
            });
});
</script>