<!-- alarm lights  & history log -->

<div class="row"></div>

<div class="box box-solid box-primary">
	<div class = "box-header">
		<h2 class = "box-title">Alarm Panel</h2>
		<small class="alarm_legend pull-right">N/A:  <img src="../../static/images/icons/alarm_grey.png" width="20"></small>
		<small class="alarm_legend pull-right">Alert:  <img src="../../static/images/icons/alarm_red.png" width="20"></small>
		<small class="alarm_legend pull-right">Alarm:  <img src="../../static/images/icons/alarm_yellow.png" width="20"></small>
		<small class="alarm_legend pull-right">Normal:  <img src="../../static/images/icons/alarm_green.png" width="20"></small>
		
	</div>
		<div class="box-body table-responsive no-padding">
			<table class="table table-striped table-bordered" style="width:100%">
	  			<tr>
	    			<th scope="col" style="width:20%" class = "alarm_center">City Power</th>
	    			<th scope="col" style="width:20%" class = "alarm_center">UPS System</th>
	    			<th scope="col" style="width:20%" class = "alarm_center">DC System</th>
	    			<th scope="col" style="width:20%" class = "alarm_center">Cooling Device</th>
	    			<th scope="col" style="width:20%" class = "alarm_center">Ambient Temperature</th>
	  			</tr>
	  			<tr>
			    	<td class = "alarm_center"><img id="city" width="30" alt="Loading...." src="../../static/images/icons/alarm_grey.png"></td>
			    	<td class = "alarm_center"><img id="ups" width="30" alt="Loading...." src="../../static/images/icons/alarm_grey.png"></td>
	    			<td class = "alarm_center"><img id="dc" width="30" alt="Loading...." src="../../static/images/icons/alarm_grey.png"></td>
	    			<td class = "alarm_center"><img id="cooling" width="30" alt="Loading...." src="../../static/images/icons/alarm_grey.png"></td>
	    			<td class = "alarm_center"><img id="temp" width="30" alt="Loading...." src="../../static/images/icons/alarm_grey.png"></td>
	  			</tr>
			</table>
		</div>	
		
		<!-- Box (with bar chart) -->
		<div id="all_alarm" style="display:none" class="box box-danger" >
			<div class="box-header">
	
				<i class="fa fa-exclamation-triangle"></i>
	
				<h3 class="box-title">Active Alarms</h3>
			</div><!-- /.box-header -->		
            <div class="box-body table-responsive no-padding">	
			<table id="tab_all_alarm" class="table table-hover" style="width:100%:">
	  			<tr>
			    	<td > Loading....
			    	</td>
			    </tr>			    
			</table>
		</div><!-- /.box-body -->
		</div><!-- /.box -->
</div>		



	<!-- Primary box -->
	<div class="box box-solid box-primary">
		<div class="box-header">
			<h1 class="box-title">Recent Events</h2>
			<h5> ( List the 10 latest events only; refer to &nbsp<a id ="recent_events" value ="Historical Event" href="#" style = "text-decoration:underline;">event report</a>&nbsp for any queries.)</h5>
		</div>
		<div class="box-body table-responsive no-padding">
			<table id="logs" class="table table-bordered table-hover">
				<thead>
					<tr>
					</tr>
				</thead>
				<tbody>
					<tr>
					</tr>
					
				</tbody>
			</table>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
<!-- /.col -->


<script>

$("#recent_events").bind("click", function(){
	var reportType = $(this).attr("value");
	var transUrl = getReportUrl(reportType);
	location.href = transUrl;
});
</script>


